@charset "UTF-8";

#contents{
    width: 900px;
    height: auto;
    margin: auto;
    position: relative;
}
.sub_title{
    background: url(../img/sub_title.png) no-repeat;
    text-indent: -9999px;
}

.guide_txt{
    color: #777;
    font-size: 12px;
    padding-bottom: 7px;
    position: relative;
}

.txt_r{
    text-align: right;
    font-size: 12px;
    padding-bottom: 7px;
    display: inline-block;
    /* border: 1px solid red; */
    width: 88px;
    position: absolute;
    right: 0;
    padding-left: 15px;
}
.req{
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url(../img/bult.png);
    text-indent: -9999px;
}


/********* 테이블작업***********/
table.table_type{
    width: 900px;
    border-collapse: collapse;
    /*border: 1px solid #ddd;
    border-left: none;
    border-right: none;*/
    border: none;
  
}
table.table_type th{
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: #efefef;
    text-align: left;
    border-left: none;
}
table.table_type td{
    border: 1px solid #ddd;
    border-right: none;
    padding: 10px;
}
.join{
    padding: 3px 6px;
    border: 1px solid #ddd; 
}
.b_bdcheck{
    width: 60px;
    height: 25px;
    background-position: 0 -500px ;
    /* border: 1px solid red; */
    position: absolute;
    margin: 0 10px;
}
dt{
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid red; */
}
dd{
    display: inline-block;
    width: 190px; 
}
.post_num{
    width: 80px;
    height: 25px;
    background-position: -58px -500px;
    margin: 2px 10px;
    vertical-align: top;
}
.fr{
    text-align: right;
}
div.btn_area{
    margin-top: 30px;
    text-align: center;
}
div.btn_area span{
    margin-top: 30px;
    padding: 3px 0;
    width: 65px;
    height: 27px;
}
div.btn_area span.b_ok{
    background-position: 0px -110px;
}
div.btn_area span.b_cancel{
    background-position: -100px -110px;
}

    
    

